html {
    margin: 0 !important;
}
body {
    font-family: 'Montserrat', serif;
}
.comtainer {
    max-width: 1000px;
}
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    border: 3px solid white;
    background-color: rgba(234, 88, 12, 1);
    background-clip: padding-box;
    border-radius: 10px;
}
.scroll-hidden::-webkit-scroll {
    display: none;
}
.swiper-pagination-bullet-active {
    background-color: rgba(234, 88, 12, 1);
}
@media screen and (max-width: 1024px) {
    .comtainer {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
